#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 575vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr .4fr .35fr;
  grid-template-columns: 1fr;
  grid-template-areas: "header"
                        "intro"
                        "work"
                        "projects"
                        "about"
                        "resume"
                        "footer";
}

/* Header */

.AppHeader {
  grid-area: header;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  &__location-label {
    color: white;
    opacity: .1;
    bottom: 10px;
    left: 20px;
    position: absolute;
  }
  &__title {
    color: white;
    opacity: .9;
    text-align: center;
    h1 {
      padding: 0;
      margin: 0;
      font-size: 4.5em;
      font-weight: 700;
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    }
    img {
      height: 240px;
      width: 240px;
      border-radius: 100%;
      margin-top: -60px;
      border: 3px solid white;
    }
    button {
      background: none;
      border: none;
      font-size: 1em;
      padding: 0;
      color: white;
      opacity: .6;
      &:hover, &:focus {
        outline: none;
        color: #ddd;
        opacity: 1.0;
      }
      & svg {
        vertical-align: middle;
        margin-bottom: 5px;
      }
    }
    .lead a {
      text-decoration: none;
      color: white;
      opacity: .6;
      &:hover {
        text-decoration: none;
        color: #ddd;
        opacity: 1.0;
      }
    }
    ul {
      margin: 0;
      padding-left: 0;
      font-size: 2.5em;
    }
    li {
      display: inline;
      margin: 0 5px;
    }
  }
}

/* Callout Sections */

.AppCalloutSection {
  &.work {
    
  }
  &.projects {

  }
}
/* Body Sections */

.AppBodySection {
  &.intro {
    grid-area: intro;
  }
  &.work {
    grid-area: work;
    background-color: #101010;
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // background-attachment: fixed;
    // background-repeat: no-repeat;
    // background-position: center center;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    // // z-index: -10;
    // background-color: #222;
    // background-image: url('assets/img/hkdense-blur.jpg');
    // display: grid;
  }
  &.projects {
    grid-area: projects;
    background-color: purple;
  }
  &.about {
    grid-area: about;
    background-color: azure;
  }
  &.resume {
    grid-area: resume;
    display: grid;
    align-items: center;
    background: url(./assets/img/thinker-blur.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    h1 {
      color: white;
      opacity: .9;
      text-align: center;
      padding: 0;
      margin: 0;
      font-size: 4.5em;
      font-weight: 700;
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    }
    a {
      text-decoration: none;
      color: white;
      opacity: .6;
      &:hover {
        text-decoration: none;
        color: #ddd;
        opacity: 1.0;
      }
    }
  }
  &.footer {
    grid-area: footer;
    display: grid;
    align-items: center;
    justify-items: center;
    color: #333;
  }
}

/* Typography */
.icon {
  vertical-align: middle;
}

.lead {
  margin: 0 0 20px 0;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.4;
}

.lead a {
  color: #09d;
}

.bold {
  font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
